/* Contact Page Styles */

.contact-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10%;
  width: 100vw;
}

.contact-grid-wrapper > .company-meta-sidebar-wrapper {
  margin-left: 20%;
}

.contact-grid-wrapper > .company-meta-sidebar-wrapper > .logo-wrapper img {
  width: 100%;
  margin-bottom: 20px;
}

.contact-grid-wrapper > .company-meta-sidebar-wrapper > .company-details {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 25px;
  align-content: center;
  justify-items: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.25em;
  font-weight: 900;
}

.contact-grid-wrapper > .company-meta-sidebar-wrapper > .company-details i {
  color: #cea135;
  justify-self: center;
}

.contact-grid-wrapper > .company-meta-sidebar-wrapper > .company-details div {
  text-align: left;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #11122b;
}